<div id="<%= dom_id account %>">
  <p>
    <strong>Fullname:</strong>
    <%= account.FullName %>
  </p>

  <p>
    <strong>Vat:</strong>
    <%= account.Vat %>
  </p>

  <p>
    <strong>City:</strong>
    <%= account.City %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= account.zipcode %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= account.address %>
  </p>

</div>
