<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :FullName, style: "display: block" %>
    <%= form.text_field :FullName %>
  </div>

  <div>
    <%= form.label :Vat, style: "display: block" %>
    <%= form.text_field :Vat %>
  </div>

  <div>
    <%= form.label :City, style: "display: block" %>
    <%= form.text_field :City %>
  </div>

  <div>
    <%= form.label :zipcode, style: "display: block" %>
    <%= form.number_field :zipcode %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
